@charset "UTF-8";
/* CSS Document */

.topnav {
	overflow: hidden;
	font-family: "Helvetica", Light;
}

.topnav a {
		float: right;
 	 color: black;
 	 text-align: center;
 	 padding: 14px 16px;
 	 text-decoration: none;
  	font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  color: black;
}



#unt {
	color: white;
	font-family: "Helvetica", Light;
	font-size: 40pt;
	text-align: center;
}

#ueb {
	align-items: center;
	justify-content: center;
	margin-top: 400px;
	
}

#backimg {
	height: 900px;
	background-image: url("pictures/DJI_0013-Pano.jpg");
	background-size: cover;
	margin: 0px;
}
