@charset "UTF-8";
/* CSS Document */

#einl {font-family: montserrat;
		display: flex;
  		align-items: center;
  		justify-content: center;
}

body {background-image: url("pictures/crest.jpg");
	background-size: cover;

}


img {opacity: 0.5;

}